# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# node
node_modules/
bower_components

# sass
.sass-cache/

# settings
/options/settings/settings_local.py
/settings/settings.yml

# project
.vscode
/vendor
/main

# pprof
memory.pprof
cpu.pprof

# temporary
# docs
.coverage.txt
docs/example/config/settings-laisky.yml

/__debug_bin*

# web
/web/logs
/web/*.log
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/pnpm-debug.log*
/web/lerna-debug.log*
/web/node_modules
/web/dist
/web/dist-ssr
/web/*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/errlog
.github/instructions/laisky.instructions.md
