# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# ipython
.ipynb_checkpoints/

# koala
koala-config.json

# pyenv
/venv
/active

# test
/data
/notebook
.tox

# ctags
/.tags*

# webassets
.webassets-cache/
assets/
.assets
html

# node
node_modules/
bower_components

# sass
.sass-cache/

# docs
/site
/docs/source
/docs/build

# virtualenv
venv
activate

# eclipse workspace config
.idea/
.project
.pydevproject

# settings
/options/settings/settings_local.py
/settings/settings.yml

# project
.vscode
tags
vendor
/go-ramjet
/main

# pprof
memory.pprof
cpu.pprof

# temporary
# docs
.coverage.txt
docs/example/config/settings-laisky.yml

/__debug_bin*

# web
/web/logs
/web/*.log
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/pnpm-debug.log*
/web/lerna-debug.log*
/web/node_modules
/web/dist
/web/dist-ssr
/web/*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
