name: ci

on:
  push:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push latest
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ppcelery/laisky-blog-graphql:latest
      -
        name: Build and push hash label
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ppcelery/laisky-blog-graphql:${{ github.sha }}
